:root {
    --blue: #3AAFA9;
    --deepblue: #2B7A78;
    --white: #DEF2F1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #17252A;
    font-family: "Poppins",sans-serif;
    font-size: 100%;
}

nav {
    background-color: var(--blue);
    height: 70px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

#title a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: Poppins;
    color: var(--white);
}

#nav-add-button {
    cursor: pointer;
    margin-right: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: (100vh-70px);
}

.book-card {
    margin: 20px 50px;
    border: 2px solid var(--deepblue);
    border-radius: 10px;
    color: #101010;
    text-align: center;
    line-height: 1.4;
    min-width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
    background-color: #65ccb8;
}

.book-card:hover {
    box-shadow: 0px 0px 12px var(--blue);
    transform: scale(1.03);
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-family: "Kaushan Script", sans-serif;
    font-weight: bolder;
    color: rgb(73, 73, 73);
    font-size: 20px;
    transition: all 0.3s ease;
}

.card-buttons {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s;
}

.edit-status {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.book-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 40%;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    margin: 10px;
}

.book-button:hover {
    transform: scale(1.1);
}

.book-button:active {
    transform: scale(0.95);
}

.unfinished-button {
    background-color: rgba(228, 77, 77, 0.9);
}

.finished-button {
    background-color: rgba(33, 197, 28, 0.7);
    
}

.edit-button {
    background-color: rgba(248, 246, 95, 0.7);
}

.delete-button {
    background-color: rgb(128, 128, 128, 0.7);
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Styling for Add button */
#add-button {
    width: 250px;
    height: 300px;
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(206, 193, 193, 0.1);
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#add-button:hover {
    transform: scale(1.1);
}

#add-button:active {
    transform: scale(0.95);
}

#add-img {
    transition: all 0.3s ease;
}

/* popup styles */
#popup-bg {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#popup-content {
    background: white;
    height: 550px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#close-button {
    position: absolute;
    right: 5px;
    top: -10px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}

#popup-title {
    position: absolute;
    top: 8%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.form-div {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin: 10px 0px;
}

.form-div input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form-div label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form-div label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.span {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form-div input:focus + .label .span,
.form-div input:valid + .label .span {
    transform: translateY(-130%);
    color: #5fa8d3;
    font-size: 14px;
}

.form-div input:focus + .label:after,
.form-div input:valid + .label:after {
    transform: translateX(0%);
}

.read-status {
    width: 50%;
    margin: 10px 0px;
}

.read-status input {
    margin-left: 10px;
    transform: scale(1.2);
}

.submit {
    width: 90px;
    height: 40px;
    background-color: var(--blue);
    border: 1px solid var(--deepblue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.submit:hover {
    box-shadow: 0px 0px 4px rgb(165, 164, 164);
}

.submit:active {
    cursor: default;
    box-shadow: none;
}

